.header {
  background-color: #94b66d;
  color: #FFFFFF;
  padding: 10px 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #FFFFFF;
  margin-left: 20px;
}

.navbar-nav .nav-link:hover {
  color: #FFEB3B;
}

body{
    font: "Montserrat Alternates", sans-serif;
}

/* Cambiar el color de fondo del botón */
.btn-primary {
    background-color: #8BC34A;
  }

  .btn-segundo {
    background-color: #D2B48C;
  }

  .btn-tercero {
    background-color: #FFFFFF;
  }

  .btn-cuarto {
    background-color: #FFEB3B;
  }

  .btn-quinto {
    background-color:  #FFCC80;
  }
  
  /* Cambiar el color del texto del botón */
  .btn-primary {
    color: rgb(0, 0, 0);
  }
  
  /* Agregar estilos personalizados al botón */
  .btn-custom {
    background-color: purple;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
  }

.carousel-item img {
    max-height: 570px; /* Ajusta el valor según tus necesidades */
  }

.carousel-item img {
    width: 100%;
    height: 100%;
  }

.navbar-brand {
    margin-left: 2rem;
}

.carousel-btn{
    border-style: none;
    background-color: none;
    padding: 0;
}

.carousel-btn{
  max-height: 570px; /* Ajusta el valor según tus necesidades */
}

.carousel-btn{
  width: 100%;
  height: 100%;
}

.footer__img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__img {
  width: 50px; /* Ajusta el valor según el tamaño deseado */
  height:max-content; /* Mantén la proporción original */
}

.footer {
  background-color: #94b66d;
  color: #FFFFFF;
  padding:  20px 0;
}

.footer a {
  color: #FFFFFF;
}

.footer a:hover {
  color: #FFEB3B;
}

