.header {
  background-color: #94b66d;
  color: #FFFFFF;
  padding: 10px 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #FFFFFF;
  margin-left: 20px;
}

.navbar-nav .nav-link:hover {
  color: #FFCC80;
}

.dropdown-item:hover {
  background-color: #FFCC80; /* Cambia el color de fondo al que desees */
}

body{
    font: "Montserrat Alternates", sans-serif;
    height: 100%;
}

.carousel-item img {
    max-height: 570px; /* Ajusta el valor según tus necesidades */
  }

.carousel-item img {
    width: 100%;
    height: 100%;
  }

.navbar-brand {
    margin-left: 2rem;
}

.carousel-btn{
    border-style: none;
    background-color: none;
    padding: 0;
}

.carousel-btn{
  max-height: 570px; /* Ajusta el valor según tus necesidades */
}

.carousel-btn{
  width: 100%;
  height: 100%;
}

.footer__img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__img--small {
  width: 35px;
  height: 35px;
}

.footer {
  background-color: #94b66d;
  color: #FFFFFF;
  padding:  20px 0;
}

.footer a {
  color: #FFFFFF;
}

.footer a:hover {
  color: #FFEB3B;
}

.footer_img--small {
  width: 35px;
  height: 35px;
}

