<footer class="footer">
    <section class="footer__container">
        <nav class="nav nav--footer">
            <h2 class="footer__title">Contactanos:ㅤ</h2>
            <div class="footer__title">
                <a href="https://www.facebook.com/profile.php?id=100082415299149" class="footer__icons"><img
                        src="/static/imgs/facebook.png" class="footer__img" alt="logo-FB"></a>

                <a href="https://www.instagram.com/Protod_Xela/" class="footer__icons"><img
                        src="/static/imgs/instagram_logo.png" class="footer__img" alt="logo-IG"></a>
            </div>
        </nav>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-white">© 2023 Protod. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>